<%= form_with(url: pharmacies_path, method: :get) do |f| %>
    <%= f.label :search, "Search pharmacies by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>



<div>
  <% @pharmacies.each do |pharmacy| %>
    <div><%= link_to pharmacy.name, pharmacy_path(pharmacy) %> 
</div> 
  <% end %>
</div>

 
