<h1>You are currently logged on.</h1> 
<h1>Please choose the area of this site that you would like to be transferred to.</h1>

 
<%= link_to 'To Check Current Medications', medications_path %>

<%=  link_to "To Check Current Patients", patients_path %>

<%=  link_to "To Check Current Pharmacies", pharmacies_path %>

<%=  link_to "To Check Current Prescriptions", prescriptions_path %>
 
<%=  link_to "To Enter A New Medication", new_medication_path %>
 
<%=  link_to "To Enter A New Patient", new_patient_path %>
 
<%=  link_to "To Enter A New Pharmacy", new_pharmacy_path %>
 
<%=  link_to "To Enter A New Prescription", new_prescription_path %>
 
 