<h1 class='text-center'><span class="border border-3">You are currently logged on.</span></h1> 
<h1 class='text-center'><span class="border border-3">Please choose the area of this site that you would like to be transferred to.</span></h1>

 
<%= link_to "Check Current Medications", medications_path %><br><br>

<%=  link_to "Check Current Patients", patients_path %><br><br>

<%=  link_to "Check Current Pharmacies", pharmacies_path %><br><br>

<%=  link_to "Check Current Prescriptions", prescriptions_path %><br><br>
 
<%=  link_to "Enter A New Medication", new_medication_path %><br><br>
 
<%=  link_to "Enter A New Patient", new_patient_path %><br><br>
 
<%=  link_to "To Enter A New Pharmacy", new_pharmacy_path %><br><br>
 
<%=  link_to "Enter A New Prescription", new_prescription_path %><br>
 
 
 