<div id="login-form">
    <%= form_with(model: @user, url: sessions_path, method: :post, local: true) do |f| %>
        <div class="form-control">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-input" %>
        </div>
        <div class="form-control">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-input" %>
        </div>
       
          <%= label_tag :code %><br>
          <%= text_field_tag :code %><br>
        <%= f.submit :login %>
    <% end %>
 </div>