<%= form_for(@prescription) do |f| %>

  <h2>Choose or Create A Medication:</h2> 
  <%= f.collection_check_boxes :medication_id, Medication.all, :id, :name %><br>
  <%= f.fields_for :medication, Medication.new do |med| %>
    <%= med.label :name, "Create A New Medication-Strength:" %><br>
    <%= med.text_field :name %><br>
    <%= med.label :quantity_dispensed, "Enter The Quantity Dispensed:" %><br>
    <%= med.text_field :quantity_dispensed %><br>
    <%= med.label :quantity_received, "Enter The Quantity Received:" %><br>
    <%= med.text_field :quantity_received %><br>
    
  <% end %>

  <p>Press The Appropriate Button:</p>
    <%= f.radio_button :dispensed, true %>
    <%= f.label :dispensed, 'Dispensed' %>
    <%= f.radio_button :dispensed, false %>
    <%= f.label :dispensed, 'Not Dispensed' %>

<h2>Choose or Create A Pharmacy:</h2> 
  <%= f.collection_check_boxes :pharmacy_id, Pharmacy.all, :id, :name %><br>
  <%= f.fields_for :pharmacy, Pharmacy.new do |pharm| %>
    <%= pharm.hidden_field :user_id, value: current_user.id %>
    <%= pharm.label :name, "Enter A New Pharmacy Name:" %><br>
    <%= pharm.text_field :name %><br>
    <%= pharm.label :address, "Enter A New Pharmacy Address:" %><br>
    <%= pharm.text_field :address %><br>
  <% end %>

<h2>Choose or Create A Patient:</h2>
  <%= f.collection_check_boxes :patient_id, Patient.all, :id, :dob %><br> 
  <%= f.fields_for :patient, Patient.new do |pat| %>
    <%= pat.label :first_name, "Enter A New Patient First Name:" %><br>
    <%= pat.text_field :first_name %><br>
    <%= pat.label :last_name, "Enter A New Patient Last Name:" %><br>
    <%= pat.text_field :last_name %><br>
    <%= pat.label :dob, "Enter A New Patient Date of Birth (mm/dd/yyyy):" %><br>
    <%= pat.text_field :dob %><br>
    <%= pat.label :address, "Enter A New Patient Address:" %><br>
    <%= pat.text_field :address %><br>
<% end %>
    
    <%= f.submit "Enter the Information" %>
  <% end %> 
  
  