<%= form_for(@prescription) do |f| %>

  <h2>Choose A Patient:</h2>
    <%= f.collection_select :patient_id, Patient.order_by_last_name, :id, :name_and_dob, { prompt: true} %><br> 
    
  <h2>Choose A Pharmacy:</h2> 
    <%= f.collection_select :pharmacy_id, Pharmacy.order_by_name, :id, :name, { prompt: true } %><br>
     
  <h2>Choose A Medication:</h2> 
  <%= f.collection_select :medication_id, Medication.order_by_name, :id, :name, { prompt: true } %><br>
  
  <%= f.label :quantity_dispensed, "Enter The Quantity Dispensed:" %><br>
  <%= f.text_field :quantity_dispensed %><br>

  <p>Press The Appropriate Button:</p>
    <%= f.radio_button :dispensed, true %>
    <%= f.label :dispensed, 'Dispensed' %>
    <%= f.radio_button :dispensed, false %>
    <%= f.label :dispensed, 'Not Dispensed' %><br>

    <%= f.submit "Enter the Information" %>
  <% end %> 
  
  