<div class="ft-sz-25">
  <% @prescriptions.each do |prescription| %>
    <p>Pharmacy Name: <%= prescription.pharmacy.name %></p><br>
    <p>Patient Name: <%= prescription.patient.name%></p><br>
    <p>Prescription Name: <%= prescription.medication.name %></p><br>
    <p>Prescription Quantity Dispensed: <%= prescription.quantity_dispensed %></p><br>
    <p><%= prescription.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %></p><br>
    <p><%= link_to 'Print This Prescription' , prescription_path(prescription) %>
    
      
      <br>   
    
  <% end %>
</div>