<h1><%= @prescription.patient.name %></h1>
<h1><%= @prescription.medication.name %></h1>
<h1><%= @prescription.medication.quantity_dispensed %></h1>
<h1>
    <%if @prescription.dispensed %>
    This Prescription has been dispensed.
    <% else %>
    This Prescription has not been dispensed.
    <% end %>
</h1>

 <p><%= @prescription.updated_at.strftime("Last updated %A, %b %e, at %l:%M %p") %></p>

<%=  link_to "Edit", prescription_path(@prescription) %>

<%=  button_to "Remove This Prescription", prescription_path(@prescription), method: :delete %>

