<h1>Patient Name: <%= @prescription.patient.name %></h1>
<h1>Medication Name: <%= @prescription.medication.name %></h1>
<h1>Quantity Dispensed: <%= @prescription.quantity_dispensed %></h1>
<h1>
    <%if @prescription.dispensed %>
    This Prescription has been dispensed.
    <% else %>
    This Prescription has not been dispensed.
    <% end %>
</h1>
<h1><%= @prescription.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %></h1>

<%=  link_to "Edit", edit_prescription_path(@prescription), class: 'ft-sz-25' %>

<%=  button_to "Remove This Prescription", prescription_path(@prescription), class: 'ft-sz-25', method: :delete %>

