<%= form_for(@medication) do |f| %>

  <label>Medication Name-Strength:</label><br>
    <%= f.label :name, "Medication-Strength:" %><br>
    <%= f.text_field :name %><br>
    <%= f.label :quantity_received, "Quantity Received:" %><br>
    <%= f.text_field :quantity_received %><br>

     
    <%= f.submit "Enter the Medication Information"%>
  <% end %> 
  
  