<%= form_for(@medication) do |f| %>

  <label>Medication Name-Strength:</label><br>
  <%= f.collection_check_boxes :medication_id, Medication.all, :id, :name %><br>
  <%= f.fields_for :medication, @medication.build_medication do |medicationss_fields| %>
    <%= medications_fields.label :name, "Create A New Medication-Strength:" %><br>
    <%= medications_fields.text_field :name %><br>
  <% end %>
    <%= f.submit %>
  <% end %> 


   