 <%= form_with(url: medications_path, method: :get) do |f| %>
    <%= f.label :search, "Search medications by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>
 



<div>
  <% @medications.each do |medication| %>
    <div><%= link_to medication.name, medication_path(medication) %> 
</div> 
  <% end %>
</div>