 <%= form_with(url: medications_path, method: :get) do |f| %>
    <%= f.label :search, "Search medications by name" %>
    <%= f.text_field :search, value: params[:search] %>
    <%= f.submit "Search" %>
<% end %>
 



<div>
  <% @medications.order('name').each_with_index do |medication, index| %>
    <div><%= link_to medication.name, medication_path(medication) %> 
         <%= medication.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %>
</div> 
  <% end %>
</div>
<p></p>

