<%= form_for(@patient) do |f| %>

  <label>Patient First Name</label><br>
  <%= f.text_field :first_name %><br>

  <label>Patient Last Name</label><br>
  <%= f.text_field :last_name %><br>

  <label>Patient Date Of Birth (mm/dd/yyyy):</label><br>
  <%= f.text_field :dob, value: @patient.dob&.strftime("%m/%d/%Y") %><br>

  <label>Patient Address</label><br>
  <%= f.text_field :address %><br>
   
  <%= f.fields_for :pharmacies do |pharm| %>
      <%= pharm.collection_check_boxes :name, Pharmacy.all, :id, :name %><br>
      <%= pharm.label :name, "Enter A New Pharmacy Name:" %><br>
      <%= pharm.text_field :name %><br>
      <%= pharm.label :name, "Enter A New Pharmacy Address:" %><br>
      <%= pharm.text_field :address %><br>
  <% end %>
  <%= f.submit "Submit This Information"%>
<% end %>
</form>
 