 

<%= form_with(url: patients_path, method: :get) do |f| %>
    <%= f.label :search, "Search patients by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>
 

<div>
  <% @patients.each do |patient| %>
    <div><%= link_to patient.name, patient_path(patient) %> 
    <%= patient.age %>
    <%= patient.pharmacy.name %>
</div> 
  <% end %>
</div>
