 

<%= form_with(url: patients_path, method: :get) do |f| %>
    <%= f.label :search, "Search patients by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>
 

<div>
  <% @patients.each do |patient| %>
    <div>
      <%= link_to patient.name, patient_path(patient) %> 
      <%= patient.dob.strftime("%m/%d/%Y") %>
      <% patient.pharmacies.each do |pharmacy|%>
      <%= patient.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %>
        <%= link_to pharmacy.name, pharmacy_path(pharmacy) %>
        <%= pharmacy.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %>
      <% end %>
    </div> 
     
  <% end %>
</div>
