<h1>Patient Name:<%= @patient.name %></h1> 
<div class="ft-sz-25">
    <p>Patient Date Of Birth: <%= @patient.dob.strftime("%m/%d/%Y") %></p> 
    <p>Patient Address: <%= @patient.address %></p>
    <% @patient.pharmacies.each do |pharmacy| %>
        <p>Patient's Pharmacy: <%= pharmacy.name %></p>
    <% end %>
    <p><%= @patient.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %></p>
    <% @patient.prescriptions.each do |prescription| %> 
    <p>Patient's Prescription: <%= prescription.medication.name%>, - Quantity Prescribed: <%= prescription.quantity_dispensed %></p>
    <p><%= prescription.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %></p>
    <% end %>

    <%=  link_to "Edit", edit_patient_path(@patient) %>

    <%=  button_to "Remove This Patient", patient_path(@patient), method: :delete %>
</div>  
    