<h1><%= @patient.name %></h1> 
<p><%= @patient.dob.strftime("%A, %b %e") %></p> 
<p><%= @patient.address %></p>
 <% @patient.medications.each do |medication| %> 
  <p><%= medication.name%>, <%= medication.quantity_dispensed %></p>
 <% end %>

<%=  link_to "Edit", edit_patient_path(@patient) %>

<%=  button_to "Remove This Patient", patient_path(@patient), method: :delete %>
 
 