<h1><%= @patient.name %></h1> 
<p><%= @patient.dob %></p> 
<p><%= @patient.address %></p>
<h1><%= @patient.prescription.medication.name %></h1>
<h1><%= @patient.prescription.medication.quantity_dispensed %></h1>

<%=  button_to "Edit", session_path(@patient), method: :get %>
 
 